h1, p {
  font-family: Lato;
}

body {
  margin: 30px 50px;
}

.card:first-of-type {
  margin-top: 0px;
}

.card {
  margin-top: 80px;
}

.headerStyle {
  font-size: "30px";
  color: #D71010;
  background-color: white;
  font-weight: 800;
}